body{
    overflow-x: hidden;
        background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-style: normal;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


.object-score-wrapper{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
   
}

.score-wrapper{
    height: 110px;
    width: 150px;
}


/* .object-score div{
    height: 110px;
    width: 50%;
} */





.object-score{
flex: 0 1 700px;
border-radius: 15px;
justify-content: space-between;
align-items: center;
padding: 0px 18px 0px 18px;
flex-wrap: wrap;
border:solid 3px  rgba(255, 255, 255, 0.289199);
display: flex;
height: 150px;
}


.score-text{
    font-size: 16px;
    color: #2A45C2;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    margin-block: 0px;
}

#score{
    margin-block: 0px;
    font-size: 64px;
    font-weight: 700;
line-height: 64px;
/* identical to box height, or 100% */

text-align: center;

color: #565468;
}

.score-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
border-radius: 8px;
}

.score-wrapper div{
    text-align: center;
}

main{
    display: flex;
    flex-flow: column;
}


.wrapper{
    display: flex;
    height: 450px;
    margin: 0 auto;
    width: 450px;
    justify-content: center;
    position: relative;
}
.boxes-wrapper{
   display: flex;
   position: absolute;
   height: 450px;
   background: transparent;   
   justify-content: space-between;
   flex-flow: column;
   width: 450px;
}

.image-c{
    position: absolute;
    align-self: center;
    height: 380px;
    width: 380px;
    z-index: -1;
}

.image-c img{
    width: 100%;
    height: 100%;
}


.box{
      

}  
.container{
    display: flex;
    justify-content: center;
    width: 100%;

}

.container-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-3{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.one{
    align-self:flex-end;

}



.two{
    align-self:flex-start;
}

.three{
    margin-left: 50px;

}
.four{
    margin-right: 50px;

}


.selectable-object{
    background:linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);;
    display: flex;
    justify-content: center;
    align-items: center; 
    height:100px;
    z-index: 4;
    cursor: pointer;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
    transform: translateY(-6px) scale(1.03);

    width:100px;
}

.outer-circles{
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05); 

}
/* .outer-circles{
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05), 0 0 0 50px rgba(255, 255, 255, 0.05), 0 0 0 75px rgba(255, 255, 255, 0.05); 

} */

.dark-blue{
    border-radius:50%;
    -webkit-border-radius:50%;

    -moz-border-radius:50%;

    background-color: #2642bf;

}

.dark-red{
    border-radius:50%;
    -webkit-border-radius:50%;

    -moz-border-radius:50%;
    background-color: #9d1736;

}

.dark-cyan{
    border-radius:50%;
    -webkit-border-radius:50%;

    -moz-border-radius:50%;
    background-color: #2D8DAB
    ;
}

.dark-purple{
    border-radius:50%;
    -webkit-border-radius:50%;

    -moz-border-radius:50%;
    background-color: #5F37A8

    ;
}

.dark-yellow{
    border-radius:50%;
    -webkit-border-radius:50%;

    -moz-border-radius:50%;
    background-color: #c76b18;

}

.paper{
    border:17px solid #4664F4;    
 

}

.spock{
    border: 17px solid #3FB7CD;
}

.scissors{
    border:17px solid #EB9F0E; 
  
}

.lizard{
    border:17px solid #834EE3;
}

.rock{
    border:17px solid #DB2E4D; 

}

.paper-placement{
    position:absolute;
    left: 10%;
    top: -40px;
    flex-wrap: wrap;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;




}


.rock-placement{     

position: absolute;
z-index: 2;
bottom: 0;
left: 50%;
margin-left: -60px;


   
}


.inner-container{
    
    position: relative;
    width: 100px;
    height: 100px;
   
}

.inner-circle-container{
  top: 50%;
  left: 50%;
  position: absolute;

  transform: translateX(-50%) translateY(-50%);

}

.inner-circle{
    position: absolute;
    z-index: 1;
    top: 0;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    left: 0;
    width: 100%;
    /* background-color: #BABFD4; */
     background-color:#BABFD4;

    height: 100%;
}

.inner-circle2{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
        transform: translateY(5px) scale(1.02);

   
   background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);

    height: 100%;
}


.rules-button{
    background-color:transparent;
    color: white;
    font-family: 'Barlow Semi Condensed';
    font-size: 16px;
    padding: 8px 28px;
    margin-right: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
line-height: 19px;
text-align: center;
letter-spacing: 2.5px;
}

.button-wrapper{
    width: 100%;
    justify-content: flex-end;
    display: flex;
}





 